.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1180px;
  height: 830px;
  margin-top: 45px;
  padding-left: 0px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
