@use "../variables.scss" as v;
@use "../mixin.scss" as m;

.page.house {
  width: 100%;
}

.house-info-container {
  @include m.display-flex(flex, row, none, space-between);
  width: 92%;
}

.house-info.left {
  @include m.display-flex(flex, column, none, none);
}

.house-info.left h2 {
  font-weight: 500;
  font-size: 36px;
  color: v.$main-color;
}

.house-info.left p {
  font-weight: 500;
  font-size: 18px;
  margin-top: -28px;
}

.house-tag-container {
  display: flex;
}

.house-tag {
  background-color: v.$main-color;
  color: v.$second-color;
  font-weight: 700;
  padding: 5px 40px;
  margin-right: 10px;
  border-radius: 10px;
}

.house-info.right {
  @include m.display-flex(flex, column, none, none);
  color: v.$main-color;
}

.house-profil {
  @include m.display-flex(flex, row, center, none);
  margin-top: 20px;
}

.house-profil p {
  font-size: 18px;
  width: 90px;
  text-align: right;
}

.house-profil img {
  object-fit: cover;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-left: 12px;
}

.house-star-container {
  display: flex;
  position: relative;
  top: 10px;
  left: -10px;
}

.house-star-rating {
  width: 36px;
}

.house-collapse-container {
  @include m.display-flex(flex, row, none, space-between);
  width: 92%;
  margin: 25px 100px;
}

@media (max-width: 875px) {
  .house-info-container {
    @include m.display-flex(flex, column, none, space-between);
    width: 92%;
    padding: 0 0px;
  }

  .house-info.left {
    width: 100%;
  }

  .house-info.left h2 {
    font-size: 18px;

    margin-bottom: 30px;
    padding: 0 15px;
  }

  .house-info.left p {
    font-size: 14px;
    padding: 0 15px;
  }

  .house-tag-container {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .house-tag {
    font-size: 10px;
    padding: 5px 30px;
    margin-bottom: 10px;
  }

  .house-info.right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 50px;
  }

  .house-profil p {
    font-size: 14px;
  }

  .house-profil img {
    width: 42px;
    height: 42px;
  }

  .house-star-container {
    align-items: center;
    left: 0px;
    height: 50px;
  }

  .house-star-rating {
    width: 24px;
    height: 24px;
  }

  .house-collapse-container {
    flex-direction: column;
    width: 90%;
    margin: 25px 0px;
  }
}
