@use "../variables.scss" as v;

.link-card {
  width: 340px;
  height: 340px;
  color: v.$second-color;
  font-weight: 700;
  margin: 0px 0;
  text-decoration: none;
  cursor: pointer;
}

.link-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.link-card p {
  position: relative;
  top: -80px;
  left: 20px;
  max-width: 250px;
  font-size: 18px;
}

@media (max-width: 875px) {
  .link-card {
    width: 90%;
    height: 255px;
    margin-top: 50px;
    margin-left: 0px;
    cursor: pointer;
  }
}
