@use "../mixin.scss" as m;
@use "../variables.scss" as v;
.carousel {
  width: 100%;
  padding: 0;
  margin: 0;
}

.carousel-container {
  width: 100%;
  display: flex;
}

.carousel {
  position: relative;
  @include m.display-flex(flex, row, center, center);
  width: 100%;
  margin: 0;
}

.img-carousel {
  display: block;
  object-fit: cover;
  aspect-ratio: 21 / 9;
  margin: 0;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  z-index: 0;
}

.arrow.show {
  display: inline-block;
  position: relative;
  width: 47px;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 80px;
}

.arrow.right {
  right: 80px;
}

.arrow.none {
  opacity: none;
  pointer-events: none;
}

.carousel-index {
  position: absolute;
  top: 350px;
  color: v.$second-color;
  font-size: 18px;
  z-index: 2;
}

.carousel-index.none {
  display: none;
}

@media (max-width: 1350px) {
  .img-carousel {
    display: block;
    object-fit: cover;
    margin: 0;
    min-width: 90%;
    height: 415px;
    border-radius: 25px;
  }
}

@media (max-width: 875px) {
  .img-carousel {
    height: 250px;
  }
  .carousel-container {
    width: 100%;
  }

  .arrow.show {
    width: 24px;
  }

  .arrow.none {
    opacity: none;
    width: 18px;
    pointer-events: none;
  }

  .arrow.left {
    left: 40px;
  }

  .arrow.right {
    right: 40px;
  }

  .carousel-index {
    display: none;
  }
}
