@use "../mixin.scss" as m;

.carousel-container {
  width: 100%;
  display: flex;
}

.carousel {
  @include m.flex-center;
  width: 100%;
  margin: 0;
}

.img-carousel {
  display: block;
  object-fit: cover;
  aspect-ratio: 21 / 9;
  margin: 0;
  width: 100%;
  max-width: none;
  height: 415px;
  border-radius: 25px;
}

.arrow {
  position: relative;
  width: 47px;
  cursor: pointer;
}

.arrow.left {
  left: 80px;
}

.arrow.right {
  right: 80px;
}

@media (max-width: 1350px) {
  .img-carousel {
    display: block;
    object-fit: cover;
    margin: 0;
    width: 100%;
    min-width: 0;
    height: 415px;
    border-radius: 25px;
  }
}

@media (max-width: 875px) {
  .carousel-container {
    width: 100%;
  }

  .arrow {
    width: 24px;
  }

  .arrow.left {
    left: 40px;
  }

  .arrow.right {
    right: 40px;
  }
}
