.collapse.about {
  width: 80%;
}

.collapse.house {
  width: 48%;
}

.coll-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 15px;
  background-color: #ff6060;
  color: #fff;
  border-radius: 5px;
}

.coll-arrow {
  width: 32px;
  height: 32px;
  transition: 0.3s all;
}

.coll-arrow.none {
  transform: rotate(0deg);
}

.coll-arrow.show {
  transform: rotate(-180deg);
}

.coll-text-container {
  overflow: hidden;
  margin: 5px 20px;
  margin-bottom: 30px;
  transition: 0.5s all;
  p {
    transition: 0.5s all;
  }
}

.coll-text-container.none {
  max-height: 0px;
  opacity: 0;
  p {
    transform: translateY(-70px);
    opacity: 0;
  }
}

.coll-text-container.show {
  max-height: 500px;
  padding-top: 20px;
  p {
    transform: translateY(0px);
    opacity: 1;
  }
}

.coll-value-array {
  margin: 0;
}

@media (max-width: 875px) {
  .collapse.house {
    width: 100%;
    font-size: 13px;
  }
}
