@use "../mixin.scss" as m;
@use "../variables.scss" as v;

footer {
  @include m.display-flex(flex, column, center, none);

  width: 100vw;
  height: 210px;
  background-color: v.$third-color;
}

footer img {
  margin-top: 50px;
}

footer p {
  color: v.$second-color;
  font-size: 24px;
}

@media (max-width: 775px) {
  footer p {
    font-size: 12px;
    width: 100px;
  }
}
