@use "./Sass/variables.scss" as v;
@use "./Sass/mixin.scss" as m;
@import "./Sass/assets/header.scss";
@import "./Sass/assets/banner.scss";
@import "./Sass/assets/cards.scss";
@import "./Sass/assets/footer.scss";
@import "./Sass/assets/collapse.scss";
@import "./Sass/assets/carousel.scss";
@import "./Sass/page/homePage.scss";
@import "./Sass/page/aboutPage.scss";
@import "./Sass/page/housePage.scss";
@import "./Sass/page/errorPage.scss";

/// Variables

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: v.$main-font;
  @include m.display-flex(flex, column, center, none);
}

.app {
  @include m.display-flex(flex, column, center, none);
  width: 100%;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.page {
  @include m.display-flex(flex, column, center, none);
  width: 100%;
}
